.profile {
  width: 350px;
  font-size: 16px;
  box-shadow: 2px 5px 7px -1px rgba(66, 68, 90, 0.5);
  border-radius: 8px;
}

.description {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  width: 160px;
}

.name {
  font-weight: 700;
  font-size: 20px;
}

.tag {
  color: grey;
}

.location {
  color: grey;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.stats > li {
  flex-basis: 100%;
  background-color: rgba(231, 234, 235, 0.932);
  border: 1px solid rgb(221, 221, 221);
  padding-top: 20px;
  padding-bottom: 20px;
}

.stats > li:first-child {
  border-radius: 0 0 0 8px;
}

.stats > li:last-child {
  border-radius: 0 0 8px 0;
}

.label {
  display: block;
  color: grey;
}

.quantity {
  font-weight: 700;
  font-size: 18px;
}
